---
// import { ChevronDownIcon } from '@heroicons/react/solid'
import { Icon } from 'astro-icon'
import {
  FaTwitter,
  FaLinkedin,
  FaInstagram,
  FaFacebook,
  FaYoutube,
  FaEnvelope,
  FaGithub,
} from 'react-icons/fa/index'
import { getMenu } from '../../utils/menu'

const footer = (await getMenu('footer')) ?? []

const socials = (await getMenu('socials')) ?? []
---

<footer
  class="bg-black relative text-white dark:bg-blue-700 border-t-2 border-black"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>

  <div class="mx-auto md:max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h2 class="mb-5 text-lg italic">A Center of Trial & Error initiative</h2>
    <div class="pb-8 xl:grid xl:grid-cols-5 xl:gap-8">
      <div class="grid grid-cols-2 gap-4 md:gap-8 xl:col-span-4">
        {
          new Array(Math.floor(((footer?.length ?? 0) - 0.1) / 2) + 1).fill(0).map((_, idx) => (
            <div
              class={`md:grid md:grid-cols-${
                Math.floor(((footer?.length ?? 0) - 0.1) / 2) + 1
              } md:gap-8`}
            >
              {[footer?.[idx * 2], footer?.[idx * 2 + 1]]?.map((section, ix) => (
                <div class={ix % 2 ? 'mt-12 md:mt-0' : ''}>
                  <h3 class="text-sm font-semibold uppercase tracking-wider text-white dark:text-slate-200">
                    {section?.url ? <a href={section.url}>{section?.title}</a> : section?.title}
                  </h3>
                  <ul class="mt-4 space-y-4">
                    {
                      // @ts-expect-error thing is wrong
                      section?.children?.map((item, indx) => (
                        <li>
                          <a
                            href={item.url ?? '/'}
                            class="text-base text-white hover:text-gray-900 dark:text-slate-100 dark:hover:text-white"
                          >
                            {item.title}
                          </a>
                        </li>
                      ))
                    }
                  </ul>
                </div>
              ))}
            </div>
          ))
        }
      </div>
      <div></div>
      <!-- <div class="mt-12 xl:mt-0">
        <h3 class="text-sm font-semibold uppercase tracking-wider text-black dark:text-slate-200">
          Language
        </h3>
        <form class="mt-4 sm:max-w-xs">
          <fieldset class="w-full">
            <label html-for="language" class="sr-only"> Language</label>
            <div class="relative">
              <select
                id="language"
                name="language"
                class="block w-full appearance-none rounded-md border border-black bg-white bg-none py-2 pl-3 pr-10 text-base font-bold text-gray-900 focus:border-orange-500 focus:outline-none focus:ring-orange-500 dark:border-white dark:bg-blue-200 dark:text-white sm:text-sm"
                default-value="English"
              >
                <option>English</option>
                <option>French</option>
                <option>German</option>
                <option>Japanese</option>
                <option>Spanish</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                <!-- <ChevronDownIcon
									className="h-4 w-4 text-gray-400 dark:text-slate-200"
									aria-hidden="true"
								/> 
              </div>
            </div>
          </fieldset>
        </form>
      </div>-->
    </div>
    <div
      class="border-t border-white pt-8 lg:flex lg:items-center dark:border-white lg:justify-between xl:mt-0"
    >
      <div>
        <h3 class="text-sm font-semibold uppercase tracking-wider text-white dark:text-white">
          Subscribe to our newsletter
        </h3>
        <p class="mt-2 text-base text-white dark:text-white">
          The latest news, articles, and resources, sent to your inbox weekly.
        </p>
      </div>
      <form class="mt-4 sm:flex sm:max-w-md lg:mt-0">
        <label html-for="email-address" class="sr-only"> Email address</label>
        <input
          type="email"
          name="email-address"
          id="email-address"
          auto-complete="email"
          required
          class="w-full min-w-0 appearance-none rounded-lg border bg-white dark:border-white border-black py-2 px-4 text-base font-semibold text-gray-900 placeholder-gray-700 focus:border-orange-500 focus:placeholder-gray-400 focus:outline-none focus:ring-orange-500 dark:bg-blue-200 dark:text-white dark:placeholder-slate-300 sm:max-w-xs"
          placeholder="Enter your email"
        />
        <div class="mt-3 rounded-md sm:mt-0 sm:ml-3 sm:flex-shrink-0">
          <button
            type="submit"
            class="flex w-full items-center justify-center rounded-xl border-black hover:shadow-thick-1 hover:-translate-x-1 hover:-translate-y-1 transition-all border bg-orange-600 py-2 px-4 text-base font-semibold text-white dark:bg-blue-400 dark:hover:shadow-thick-1-white dark:text-white dark:border-white"
          >
            Subscribe
          </button>
        </div>
      </form>
    </div>
    <div
      class="mt-8 border-t border-black pt-8 dark:border-white md:flex md:items-center md:justify-between"
    >
      <div class="flex space-x-1 md:order-2">
        {
          socials?.map(({ title, url }) => {
            return (
              <a
                href={url}
                class="button-sleek flex h-10 w-10 items-center justify-center text-lg text-white dark:text-white"
              >
                <span class="sr-only">{title}</span>
                {title === 'github' ? (
                  <FaGithub />
                ) : title === 'twitter' ? (
                  <FaTwitter />
                ) : title === 'linkedin' ? (
                  <FaLinkedin />
                ) : title === 'youtube' ? (
                  <FaYoutube />
                ) : title === 'instagram' ? (
                  <FaInstagram />
                ) : title === 'facebook' ? (
                  <FaFacebook />
                ) : title === 'email' ? (
                  <FaEnvelope />
                ) : null}
              </a>
            )
          })
        }
      </div>
      <p class="mt-8 text-base text-white font-bold dark:text-white md:order-1 md:mt-0">
        &copy;{' '}
        {new Date().getFullYear() > 2022 ? `2022-${new Date().getFullYear()}` : 2022}{' '}
        Center of Trial &amp; Error
      </p>
    </div>
  </div>
  <!-- </div> -->

  <!-- <footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
			<div class="col-span-12 lg:col-span-4">
				<div class="mb-2">
					<a class="inline-block font-bold text-xl" href={getHomePermaa()}>AstroWind</a>
				</div>
				<div class="text-sm text-gray-600">
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="#">Terms</a
					> ·
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="#">Privacy Policy</a
					>
				</div>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Product</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Features</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Security</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Team</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Enterprise</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Customer stories</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Pricing</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Resources</a
						>
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Platform</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Developer API</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Partners</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Atom</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Electron</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">GitHub Desktop</a
						>
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Support</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Docs</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Community Forum</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Professional Services</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Skills</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Status</a
						>
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Company</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">About</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Blog</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Careers</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Press</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Inclusion</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Social Impact</a
						>
					</li>
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#">Shop</a
						>
					</li>
				</ul>
			</div>
		</div>
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Twitter"
						href="#"
					>
						<Icon name="tabler:brand-twitter" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Instagram"
						href="#"
					>
						<Icon name="tabler:brand-instagram" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Facebook"
						href="#"
					>
						<Icon name="tabler:brand-facebook" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS"
						href="/rss.xml"
					>
						<Icon name="tabler:rss" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Github"
						href="https://github.com/onwidget/astrowind"
					>
						<Icon name="tabler:brand-github" class="w-5 h-5" />
					</a>
				</li>
			</ul>
			<div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
				<span
					class="w-5 h-5 md:w-6 md:h-6 md:-mt-0.5 bg-cover mr-1.5 float-left rounded-sm bg-[url(https://onwidget.com/favicon/favicon-32x32.png)]"
				>
				</span>
				Made by <a
					class="text-blue-600 hover:underline dark:text-gray-200"
					href="https://onwidget.com/"
				>
					onWidget</a
				> · All rights reserved.
			</div>
		</div>
	</div>
</footer> -->
</footer>
