---
import { SITE } from '../config.mjs'
import { getCanonical, getHomePermalink } from '../utils/permalinks'
import Layout from '../layouts/PageLayout.astro'
// import { Image } from '@astrojs/image/components'

// import Hero from '../components/widgets/Hero.astro'
// import Features from '../components/widgets/Features.astro'
// import Features2 from '../components/widgets/Features2.astro'
// import Steps from '../components/widgets/Steps.astro'
// import Features3 from '../components/widgets/Features3.astro'
// import HighlightedPosts from '../components/blog/HighlightedPosts.astro'
// import FAQs from '../components/widgets/FAQs.astro'
// import Stats from '../components/widgets/Stats.astro'
// import CallToAction from '../components/widgets/CallToAction.astro'
import { getPosts } from '../utils/blog.js'
import PostCard from '../components/blog/PostCard.astro'
// import Container from '../components/atoms/Container.astro'
// import Picture from '../components/core/Picture.astro'
import { SignUp } from '../components/widgets/SignUp'

const meta = {
  title: SITE.title,
  description: SITE.description,
  canonical: getCanonical(getHomePermalink()),
}

const posts = (await getPosts()) ?? []
---

<Layout {meta}>
  <div class="px-5 md:px-0 py-10 grid md:grid-cols-12 cols">
    <div class="flex justify-center col-start-2 col-span-11 pt-20 pb-10">
      <h1
        class="relative -ml-24 inline-flex text-black lg:text-6xl w-min text-center mr-0 group md:text-left text-4xl font-semibold tracking-tighter leading-none"
      >
        <a
          href="https://trialanderror.org"
          class="flex flex-col !absolute -top-10 pl-20 font-overpass hover:translate-x-72 hover:underline text-black transform-gpu will-change-transform transition-all ease-out z-20 duration-500"
        >
          <span
            class="bg-orange-500 w-max border-4 lg:border-4 lg:border-b-0 z-30 border-b-0 relative p-2 lg:pt-6 pr-4 md:px-4 lg:pl-8 lg:pr-14 pb-0 lg:pb-0 border-black"
          >
            Center of
          </span>
          <span
            class="bg-orange-500 w-max border-4 border-black lg:border-4 lg:-mt-1 -mt-1 p-2 md:px-4 lg:px-8 relative"
          >
            Trial & Error.
          </span>
        </a>
        <a
          href="https://journal.trialanderror.org"
          class="!absolute -top-5 pl-10 flex flex-col hover:underline font-overpass hover:translate-x-64 z-30 transition-all ease-out duration-500 text-white transform-gpu will-change-transform"
        >
          <span
            class="bg-blue-500 w-max border-4 lg:border-4 lg:border-b-0 z-30 border-b-0 relative p-2 lg:pt-6 pr-4 md:px-4 lg:px-8 pb-0 lg:pb-0 border-black"
          >
            Journal of
          </span>
          <span
            class="bg-blue-500 w-max border-4 border-black lg:border-4 lg:-mt-1 -mt-1 p-2 md:px-4 lg:px-8 relative"
          >
            Trial & Error.
          </span>
        </a>

        <span class="flex flex-col relative z-40 group bg-none pointer-events-none">
          <span
            class="bg-white w-max border-4 transition-all lg:border-4 lg:border-b-0 pointer-events-auto border-b-0 pr-4 z-40 relative p-2 lg:pt-6 md:px-8 md:pr-12 pb-0 lg:pb-0 border-black rounded-b-none"
          >
            A Blog of
          </span>
          <span
            class="bg-white w-max border-4 border-black lg:border-t-4 -mt-1 p-2 md:px-4 pointer-events-auto lg:px-8 relative rounded-tl-none"
          >
            Trial & Error.
          </span>
        </span>
      </h1>
    </div>
    <div class="col-start-2 col-span-10">
      <!-- <a
        href={`/${posts?.[0]?.slug}`}
        class="card bg-white my-10 group md:grid grid-cols-12 gap-10"
      >
        <div class="h-full col-span-6 bg-white">
          <Image
            alt={(posts[0]?.image.alt as string) ?? ''}
            src={posts?.[0]?.image.url as string}
            loading="eager"
            width={posts?.[0]?.image?.formats?.medium?.width ?? (posts?.[0]?.image.width as number)}
            height={posts?.[0]?.image?.formats?.medium?.height ??
              (posts?.[0]?.image?.height as number)}
            format="webp"
            fit="cover"
            class="h-full border-r-2 border-black"
          />
        </div>
        <div class="w-full col-span-6 p-4">
          <h2 class="font-medium text-xl">{posts?.[0]?.title}</h2>
          <p class="font-medium">{posts?.[0]?.excerpt}</p>
        </div>
      </a> -->
      <PostCard post={posts[0]} class="card grid md:flex group my-10" preloadImage wide />
    </div>

    <div class="col-span-10 col-start-2">
      <div class="grid gap-4 mt-10 md:grid-cols-2">
        {posts.slice(1, 7).map((post) => <PostCard post={post} aspect="square" />)}
      </div>
    </div>
    <div class="col-span-10 col-start-2 flex items-center justify-center my-32">
      <div class="mx-auto p-10 items-center grid md:grid-cols-3 gap-10 justify-between">
        <div class="flex flex-col gap-10 md:col-span-2">
          <h2
            class="dark:text-white text-6xl xl:text-7xl text-black font-black text-center md:text-left tracking-tighter font-sans"
          >
            Subscribe to our<br class="hidden md:block" />
            <span class="text-orange-500">newsletter!</span>
          </h2>
          <SignUp client:visible />
        </div>

        <p
          class="md:text-3xl dark:text-white text-2xl mx-auto text-center text-black font-medium tracking-tighter font-sans"
        >
          Keep up to date with the Blog,
          <a href="https://trialanderror.org" class="sleek-underline font-bold">Center</a>, and <br
          />
          <a href="https://trialanderror.org" class="sleek-underline font-bold"
            >Journal of Trial & Error</a
          >
        </p>
      </div>
    </div>

    <div class="col-span-10 col-start-2">
      <div class="grid gap-4 mt-10 md:grid-cols-2">
        {posts.slice(7).map((post) => <PostCard post={post} aspect="square" />)}
      </div>
    </div>
    <!-- <Hero />
    <Features />
    <Steps />
    <Features2 />
    <Features3 />
    <HighlightedPosts />
    <FAQs />
    <Stats />
    <CallToAction /> -->
  </div>
</Layout>
