---
import { SITE } from '../config.mjs'
import { getCanonical, getHomePermalink } from '../utils/permalinks'
import Layout from '../layouts/PageLayout.astro'
import { Image } from '@astrojs/image/components'

import Hero from '../components/widgets/Hero.astro'
import Features from '../components/widgets/Features.astro'
import Features2 from '../components/widgets/Features2.astro'
import Steps from '../components/widgets/Steps.astro'
import Features3 from '../components/widgets/Features3.astro'
import HighlightedPosts from '../components/blog/HighlightedPosts.astro'
import FAQs from '../components/widgets/FAQs.astro'
import Stats from '../components/widgets/Stats.astro'
import CallToAction from '../components/widgets/CallToAction.astro'
import { getPosts } from '../utils/blog.js'
import PostList from '../components/blog/PostList.astro'
import Container from '../components/atoms/Container.astro'
import Picture from '../components/core/Picture.astro'

const meta = {
  title: SITE.title,
  description: SITE.description,
  canonical: getCanonical(getHomePermalink()),
}

const posts = (await getPosts()) ?? []
---

<Layout {meta}>
  <div class="px-5 md:px-0 py-10 grid md:grid-cols-12 cols">
    <div class="col-start-3 col-span-8">
      <h1
        class="lg:text-8xl w-full text-center md:text-left text-4xl font-black tracking-tight leading-none"
      >
        <span class="lg:text-6xl">A Blog of</span><br />Trial & Error.
      </h1>
      <a href={`/${posts?.[0]?.slug}`} class="my-10 group grid md:grid-cols-12 gap-10">
        <div class="col-span-7">
          <!-- <Picture
            src={posts?.[0]?.image.url}
            alt={posts[0]?.image.alt}
            loading="eager"
             widths={[900]}
            class="object-cover"
          /> -->
          <Image
            alt={(posts[0]?.image.alt as string) ?? ''}
            src={posts?.[0]?.image.url as string}
            loading="eager"
            width={posts?.[0]?.image.width as number}
            format="webp"
            height={posts?.[0]?.image.height as number}
            fit="cover"
          />
        </div>
        <div class="prose w-full col-span-5">
          <h2>{posts?.[0]?.title}</h2>
          <p>{posts?.[0]?.excerpt}</p>
        </div>
      </a>
    </div>
    <div class="col-span-8 col-start-3">
      <div class="grid gap-5 lg:gap-10 md:grid-cols-2">
        {
          posts
            .slice(1, 3)
            .map((post) => <PostList post={post} aspect="landscape" preloadImage={true} />)
        }
      </div>
      <div class="grid gap-4 mt-10 lg:gap-4 md:grid-cols-2 xl:grid-cols-3">
        {posts.slice(3).map((post) => <PostList post={post} aspect="square" />)}
      </div>
    </div>
  </div>
  <!-- <Hero />
    <Features />
    <Steps />
    <Features2 />
    <Features3 />
    <HighlightedPosts />
    <FAQs />
    <Stats />
    <CallToAction /> -->
</Layout>
