---
import { Image } from '@astrojs/image/components'
import SlideOver from './SlideOver'
import type { OpenPosition } from '../utils/types'

interface Props {
  position: OpenPosition
}

const { position } = Astro.props
---

<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0">
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
      <Image
        class="h-56 w-full object-cover lg:absolute lg:h-full"
        src={position.image.url}
        height={position.image.height}
        aspectRatio="16:9"
        alt=""
      />
    </div>
  </div>
  <div
    class="min-h-[100vh] relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2"
  >
    <div class="lg:col-start-2 lg:pl-8">
      <div class="text-base flex flex-col gap-4 max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
        <h2 class="leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
          {position.type}
        </h2>
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          {position.title}
        </h3>
        <div set:html={position.description} class="mt-8 text-lg text-gray-500"></div>
        <div class="mt-5 prose prose-indigo text-gray-500" set:html={position.needToHave}>
          <h3>Need To Have's</h3>
        </div>
        <div class="mt-5 prose prose-indigo text-gray-500" set:html={position.niceToHave}>
          <h3>Nice To Have's</h3>
        </div>
        <div class="mt-5 prose prose-indigo text-gray-500" set:html={position.whatYoullDo}>
          <h3>What You'll Do</h3>
        </div>
      </div>
      <SlideOver client:visible position={position} />
    </div>
  </div>
</div>
