---
import { Image } from '@astrojs/image/components'
import type { Author } from '../../utils/types'

interface Props {
  authors: Author[]
}

const { authors } = Astro.props
console.log(authors.map((author) => author?.image?.height))
---

<div class="flex gap-x-4 items-center max-w-[30ch] relative">
  <div class="flex items-center relative">
    {
      authors.map((author, idx) => (
        <a
          href={
            author.slug
              ? `https://journal.trialanderror.org/team/${author.slug}`
              : author?.orcid
              ? `https://orcid.org/${author.orcid}`
              : author?.twitter
              ? `https://twitter.com/${author.twitter}`
              : '#'
          }
          class={`button relative h-8 w-8 !border-2 hover:z-50`}
          style={{
            // '--size': '40px',
            'margin-left': `-${idx * 8}px`,
            'z-index': `${idx + 1}`,
          }}
        >
          {author?.image?.url && false ? (
            <Image
              src={author.image.url}
              height={author.image?.formats?.thumbnail?.height ?? author.image.height}
              width={author.image?.formats?.thumbnail?.width ?? author.image.width}
              fit="cover"
              format="webp"
              class="h-full w-full"
              alt={author.image.alt ?? `${author.firstName} ${author.lastName}`}
            />
          ) : (
            <div class="flex h-full w-full items-center justify-center font-black uppercase text-black">
              {author?.lastName?.charAt(0)}
            </div>
          )}
        </a>
      ))
    }
  </div>
  <div class="flex flex-wrap items-center gap-x-1 leading-3">
    {
      authors.map((author, idx) => (
        <a
          href={
            author.slug
              ? `https://journal.trialanderror.org/team/${author.slug}`
              : author?.orcid
              ? `https://orcid.org/${author.orcid}`
              : author?.twitter
              ? `https://twitter.com/${author.twitter}`
              : '#'
          }
          class="text-sm font-medium"
        >
          {author.firstName} {author.lastName}
          {idx === authors.length - 2 && authors.length > 1
            ? ' &'
            : idx !== authors.length - 1
            ? ','
            : ''}
        </a>
      ))
    }
  </div>
</div>
