---
import { cx } from '../../utils/cx'
import { Image } from '@astrojs/image/components'
import type { Author } from '../../utils/types'
import { getFirstAuthorLink } from '../../utils/getFirstAuthorLink'

interface Props {
  authors: Author[]
}

const { authors } = Astro.props
---

<div class="flex gap-x-4 items-center relative">
  <div
    class={`flex w-full items-center justify-center relative `}
    style={{
      height: `${32 + (authors.length - 1) * 6}px`,
    }}
  >
    {
      authors.map((author, idx) => (
        <a
          href={getFirstAuthorLink(author)}
          class={cx(
            `group/one absolute h-8 min-w-[2rem] !rounded-none border-2  border-black px-2 `,
            idx === 0 && 'bg-white',
            idx === 1 && 'bg-orange-500 text-black',
            idx === 2 && 'bg-blue-500 text-white'
          )}
          style={{
            // '--size': '40px',
            left: `${idx * 24}px`,
            top: `${(authors.length - (idx + 1)) * 6}px`,
            'z-index': `${10 - idx}`,
          }}
        >
          <div
            class={cx(
              'relative flex h-full w-full items-center justify-center font-semibold uppercase '
            )}
          >
            {author.lastName?.charAt(0)}
            <span class="group-hover/one:max-w-xs group-hover/one:block line-clamp-1 hidden max-w-0  overflow-clip whitespace-nowrap transition-all duration-500 md:block">
              {author.lastName?.slice(1)}
            </span>
            <span class="sr-only">{author.lastName}</span>
          </div>
        </a>
      ))
    }
  </div>
  <!-- <div class="flex flex-wrap items-center gap-x-1 leading-3">
    {
      authors.map((author, idx) => (
        <a
          href={
            author.slug
              ? `https://journal.trialanderror.org/team/${author.slug}`
              : author?.orcid
              ? `https://orcid.org/${author.orcid}`
              : author?.twitter
              ? `https://twitter.com/${author.twitter}`
              : '#'
          }
          class="text-sm font-medium"
        >
          {author.firstName} {author.lastName}
          {idx === authors.length - 2 && authors.length > 1
            ? ' &'
            : idx !== authors.length - 1
            ? ','
            : ''}
        </a>
      ))
    }
  </div> -->
</div>
